vs2013/Release/
vs2013/Browedit.opensdf
vs2013/Browedit.sdf
vs2013/Debug/
externals/v8/
package/
vs2015/Release/
vs2015/Debug/
vs2015/Browedit.opensdf
vs2015/Browedit.sdf
vs2015/.vs/
vs2015/Browedit.VC.VC.opendb
vs2015/Browedit.VC.db
vs2015/Browedit.v11.suo
browedit/RO/
